<h1>Editing evento</h1>

<%= error_messages_for :evento %>

<% form_for(@evento) do |f| %>
  <p>
    <b>Titulo</b><br />
    <%= f.text_field :titulo %>
  </p>

  <p>
    <b>Palestrante</b><br />
    <%= f.text_field :palestrante %>
  </p>

  <p>
    <b>Data</b><br />
    <%= f.select :data , data_select %>
  </p>

  <p>
    <b>Inicio</b><br />
    <%= f.time_select :inicio %>
  </p>

  <p>
    <b>Fim</b><br />
    <%= f.time_select :fim %>
  </p>

  <p>
    <b>Tipo</b><br />
    <%= f.select :tipo, tipo_select %>
  </p>

  <p>
    <b>Area</b><br />
    <%= f.select :area, area_select %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', eventos_path %>
