<h1>Listing eventos</h1>

<% if !@horarios.empty? %>

   <table border="1">
      <tr>
         <%= area_table %>
      </tr>

   <% for horario in @horarios %>   
      <tr>
         <th><%= horario %></th>
         <% for area in area_select %>
            <% @e = event_for(@grade,horario,area)%>
            <% if !@e.nil? %>
               <th style="background:<%= @e.cor%>"><%= link_to @e.titulo, edit_evento_path(@e)%> </th>
               <th style="background:<%= @e.cor%>"> <%= link_to 'X', @e, :confirm => 'Tem Certeza que deseja remover?', :method => :delete %>     </th>
            <% end %>
         <% end %>
      </tr>
   <% end %>
<% else %>
   Não há nenhum evento
<% end %>   
   
   
</table>


<% if !@fora.empty? %>
Fora de Horário

   <table>
     <tr>
       <th>Titulo</th>
       <th>Palestrante</th>
       <th>Data</th>
       <th>Inicio</th>
       <th>Fim</th>
       <th>Tipo(cor)</th>
       <th>Area</th>
     </tr>

   <% for evento in @fora %>
     <tr>
       <td><%=h evento.titulo %></td>
       <td><%=h evento.palestrante %></td>
       <td><%=h evento.data %></td>
       <td><%=h evento.inicio.hour %>:<%=h evento.inicio.min %></td>
       <td><%=h evento.fim.hour %>:<%=h evento.fim.min %></td>
       <td><%=h evento.tipo %>(<%= evento.cor %>)</td>
       <td><%=h evento.area %></td>
       <td><%= link_to 'Show', evento %></td>
       <td><%= link_to 'Edit', edit_evento_path(evento) %></td>
       <td><%= link_to 'Destroy', evento, :confirm => 'Are you sure?', :method => :delete %></td>
     </tr>
   <% end %>
   </table>

<% end %>
<br />

<%= link_to 'New evento', new_evento_path %>
